blinker==1.9.0
click==8.4.2
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.1.8
md-to-html-renderer @ git+ssh://git@github.com/maideas/md-to-html-renderer.git@f1768c304cf6d8e13cfc6bfede1ae64e939c92b4
